---
import Layout from '../layouts/Layout.astro'
import { type DataSections } from '../types/db-data'
import dataSections  from '../data/db.json'
// import cryto from 'node:crypto'1

const dataSectionsLocal: DataSections = dataSections
const { data } = dataSectionsLocal
const { sections } = data

---

<Layout title="Inicio" >
  <div class="h-full grid place-content-center gap-10">
    <header class="text-center">
      <a href="/add-sections" class="text-xl">Agregar Seccion</a>
    </header>
  
    <main class="flex gap-20 w-1/2">
      {
        sections.map(
          section => {
            const { name, baseURL } = section
            return ( 
              <section class="border-2 border-white border-xl rounded-xl w-[200px]">
                <h2>
                  <a href={`/sections/${baseURL}`}>
                    {name}
                  </a>
                </h2>
              </section>
            )
          }
        )
      }
    </main>
  </div>
</Layout>